#root {
	padding: 1rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	text-align: center;

	display: grid;
	grid-template:
		"display display display display"
		"clear clear divide multiply"
		"num7 num8 num9 subtract"
		"num4 num5 num6 add"
		"num1 num2 num3 equals"
		"num0 num0 decimal equals"
	;
	gap: 8px;
}

#display {
	grid-area: display;
	margin-bottom: .5rem;
	text-align: right;
}

#equals {
	grid-area: equals;
	background-color: var(--primary);
	color: white;
}

.numeric, #decimal {
	background-color: var(--gray);
}
#one { grid-area: num1; }
#two { grid-area: num2; }
#three { grid-area: num3; }
#four { grid-area: num4; }
#five { grid-area: num5; }
#six { grid-area: num6; }
#seven { grid-area: num7; }
#eight { grid-area: num8; }
#nine { grid-area: num9; }
#zero { grid-area: num0; }
#decimal { grid-area: decimal; }

.operational {
	background-color: var(--light-gray);
}
#add { grid-area: add; }
#subtract { grid-area: subtract; }
#multiply { grid-area: multiply; }
#divide { grid-area: divide; }

#clear {
	grid-area: clear;
	background-color: var(--danger);
	color: white;
}
